<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact</h5>
          <p>KM5, ROUTE AJIM-HOUMT SOUK 4135</p>
          <p>contact@lesnouvellesgenerations.com</p>
          <p>+216 70 279 340</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>&copy; Les Nouvelles Générations</p>
        </div>
        <div class="col-md-6">
          <p class="text-right">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fas fa-phone"></i></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  